:root {
    --primary-color: black;
    --secondary-color: #ECEEEF;
    --third-color: ;
}

.overallbody {
    font-family: Sans-serif !important;
    overflow-x: hidden;
}

.nav-top {
    background-color: #07639E;
    font-size: 14px;
    padding-top: 20px;
}
.top-num {
    color: white;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-top: none;
    border-bottom: none;
    padding-right: 10px;
    margin-right: 10px;
}

.top-num:hover,
.top-mail:hover {
    color: white;
}

.top-mail {
    color: white;
    text-decoration: none;
}

.top-tex {
    color: white;
}

.social-icons {
    margin-right: 15px;
}
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    /* margin-top: 35px; */
    background-color: #ffffff;
   
  }
  /* @media (max-width:990px){
    .dropdown-content{
        margin-top: 0px;
    }
  } */
  .dropdown-content a {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    background-color: white;
}
.nav-bar-img{
    margin-right: 70px;
}
.nav-link {
    font-weight: 600;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px ;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: black !important;
    padding: 35px 10px !important;
}

.ani-icon {
    border-style: solid;
    border-color: #E7E7E7;
    border-width: 2px;
    border-left: none;
    border-top: none;
    border-bottom: none;
    margin-right: 20px;
}

.number {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.first-img {
    background-image: linear-gradient(30deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/New-Project-1.png');
    background-attachment: fixed !important;
    background-position: center center !important;
    background-size: cover !important;
}

.first-img h1 {
    color: white;
    font-weight: 600;
    padding-top: 150px;
    padding-bottom: 150px;
}

.second-page {
    background-color: var(--primary-color);
    margin-top: -8px;
}

.sec-con {
    background-color: #ECEEEF;
    border-radius: 0px 200px 0px 200px;
    padding-top: 50px;
    padding-bottom: 70px;
}

.sec-con h2 {
    font-weight: 600;
    padding-top: 40px;

}

.sec-con p {
    color: #666666;
    font-size: 15px;
    line-height: 27px;
}
.third-page {
    background-color: var(--secondary-color);
}
.trd-con {
    background-color: var(--primary-color);
    border-radius: 0px 200px 0px 200px;
    padding-top: 20px;
    padding-bottom: 70px;
}
.trd-con h2 {
    font-weight: 600;
    padding-top: 150px;
    color: white;
}

.trd-con p {
    color: white;
    font-size: 15px;
    line-height: 27px;
}
.fourth-page {
    background-color: var(--primary-color);
}
.frth-con {
    background-color: var(--secondary-color);
    border-radius: 0px 200px 0px 200px;
    padding-bottom: 70px;
}
.frth-con h2 {
    font-weight: 600;
    padding-top: 70px;
    color: black;
}
.frth-con ul {
    list-style: none;
    line-height: 40px;
    font-size: 14px;
    color: #666666;
}
.frth-con-img{
    padding-top: 5%;
}
.fifth-page {
    background-color: var(--secondary-color);
}
.fif-con {
    background-color: var(--primary-color);
    border-radius: 0px 200px 0px 200px;
    padding-top: 20px;
    padding-bottom: 70px;
}
.fif-con h2 {
    font-weight: 600;
    padding-top: 100px;
    color: white;
}

.fif-con p {
    color: white;
    font-size: 15px;
    line-height: 27px;
}
.fif-con-img{
    margin-top: 10%;
}
.sixth-page {
    background-color: var(--primary-color);
}
.six-con {
    background-color: var(--secondary-color);
    border-radius: 0px 200px 0px 200px;
    padding-bottom: 70px;
}
.six-con h2 {
    font-weight: 600;
    padding-top: 70px;
    color: black;
}
.six-con p{
    list-style: none;
    font-size: 14px;
    color: #666666;
}
.six-con-img{
    padding-top: 5%;
}
.seventh-page {
    background-color: var(--secondary-color);
}
.svn-con {
    background-color: var(--primary-color);
    border-radius: 0px 200px 0px 200px;
    padding-top: 20px;
    padding-bottom: 70px;
}
.svn-con h2 {
    font-weight: 600;
    padding-top: 150px;
    color: white;
}

.svn-con p {
    color: white;
    font-size: 15px;
    line-height: 27px;
}
.svn-con-img{
    margin-top: 5%;
}
.eig-con {
    background-color: var(--primary-color);
    border-radius: 0px 200px 0px 0px;
    padding-top: 20px;
    padding-bottom: 70px;
}
.eig-con h2 {
    font-weight: 600;
    padding-top: 150px;
    color: white;
}

.eig-con p {
    color: white;
    font-size: 15px;
    line-height: 27px;
}
.eig-con-img{
    margin-top: 5%;
}
.last{
    background-color: #07639E;
    color: white;
    padding-top: 8%;
    padding-bottom: 8%;
}
.last-first{
    color: #C2D1E2;
    font-size: 14px;
    line-height: 30px;


}
.last-first p{
    padding-top: 0px;
}
.last-second{
    list-style: none;
    margin-bottom: 5%;
}
.last-second h4{
    font-weight: 600;
}
.last-second ul{
    list-style: none;
    font-size: 14px;
    line-height: 35px;
}
.last-second ul li a{
    color: #C2D1E2;
    text-decoration: none;
}
.last-second ul li a:hover{
    color: white;
}
.last-third{
    margin-top: 3%;
}
.lasthead{
    font-weight: 600;
}
.lastpara{
    color: #C2D1E2;
}
.last-third a{
    color: #C2D1E2;
    text-decoration: none;
}
.last-third a:hover{
    color: white;
}
.copyrights{
    background-color: #0F2A57;
    color: #C2D1E2;
    padding-top: 20px;
}
.lastline{
    text-align: right;
}
.lastline a{
    color: white;
    text-decoration: none;
}
.lastline a:hover{
    color: white;
}